@import '../../sass/_font-sizes'
@import '../../sass/_breakpoints'
@import '../../sass/_colors'
@import '../../sass/_line-heights'
    
.content
    display: grid
    grid-template-columns: minmax(100px, 180px) 4fr minmax(280px, 1fr)
    grid-template-rows: auto 1fr 
    min-height: 100vh
    row-gap: 30px
    background-color: $clr-light
    
    @media screen and (width <= $screen-medium)
        grid-template-columns: 100vw
    
    .users
        grid-row: 1 / 3
        background-color: $clr-gray

        @media screen and (width <= $screen-medium)
            display: none

    .questions
        grid-row: 1 / 3
        position: relative
        padding: 20px
        overflow-x: hidden
        margin: 28px

        .heading
            font-size: $fs-600
            font-weight: bold
        
        .resultsAmount
            display: inline
        
    .popular
        margin-top: 28px
        margin-right: 20px
        max-height: min-content 
        border-radius: 5px

        @media screen and (width <= $screen-medium)
            margin: 0 48px

        .heading
            font-size: $fs-300
            font-weight: bold
            margin-bottom: 10px

        .questionsList
            li
                line-height: $lh-20
                font-size: $fs-200
                margin: 10px 0
            
    .subscribeSection
        padding: 30px
        color: white
        background: linear-gradient(125deg, #29ffff 0%, #433fff 100%)
        font-size: large
        line-height: 1.6rem
        margin-right: 20px
        height: min-content

        @media screen and (width <= $screen-medium)
            margin: 0 48px 48px

        .heading
            font-size: $fs-500
            margin: 14px 0
            font-weight: bold

        .text
            font-size: $fs-200
            line-height: $lh-28
            font-weight: bold

        .subscribeButton
            display: block
            margin: 14px 0
            font-size: $fs-200
            border-radius: 30px
            width: 50%
            text-align: center
            background-color: $clr-white
            text-decoration: none
            color: $clr-blue
            padding: 6px
            
            @media screen and (width <= $screen-medium)
                width: 20%