@import '../../sass/_font-sizes'
@import '../../sass/_breakpoints'
@import '../../sass/_colors'
@import '../../sass/_line-heights'
@import '../../sass/mixins'
    
.container
    @include container

    @media screen and (width <= $screen-medium)
        flex-direction: column

    .content
        box-sizing: border-box
        display: flex
        max-width: 1000px
        flex: 1

        @media screen and (width <= $screen-medium)
            flex-direction: column