@import '../../sass/_font-sizes'
@import '../../sass/_colors'
@import '../../sass/_breakpoints'

.dropdown
    display: flex
    align-items: center
    z-index: 10000
    position: relative
    margin-right: 12px

    @media screen and (width <= $screen-medium)
        .avatar
            display: none

    .dropdownButton
        background: none
        border: none

        .dropdownIcon
            width: 20px
    
    .avatar
        aspect-ratio: 1
        border-radius: 50%
        overflow: hidden
        width: 36px

        & > img
            width: 100%

    .username
        font-size: $fs-300
        font-weight: bold
        margin-left: 10px

    .menu
        position: absolute
        top: 70px
        left: -30px
        width: max-content
        background-color: white
        padding: 12px 20px
        border-radius: 5px
        box-shadow: 0 2px 5px -3px grey
        
        &[data-is-open='false']
            display: none

        @media screen and (width <= $screen-medium)
            background-color: transparent
            box-shadow: none
            top: 20px
            padding: 0

        .pageLink
            display: block
            text-decoration: none
            color: $clr-dark
            margin: 16px 0

            &:hover
                color: $clr-blue

        .logoutButton
            border: none
            padding: 0
            background: none
            color: $clr-dark
            margin-bottom: 16px
            
            &:hover
                color: $clr-blue