@import '../../sass/_font-sizes'
@import '../../sass/_colors'

.label
    margin-top: 14px

.dataInput
    box-sizing: border-box
    margin-top: 5px
    padding: 8px
    width: 100%

.errorBox
    position: relative

    .errorMesage
        position: absolute
        right: 0
        font-size: $fs-200
        color: $clr-err-msg