@import '../../sass/_colors'
@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'
@import '../../sass/_breakpoints'

.content
    display: flex
    min-height: 100vh
    background-color: $clr-light

    .signupForm
        display: flex
        flex-direction: column
        background-color: white
        border-radius: 5px
        padding: 30px
        width: min(80%, 460px)
        margin: auto
        gap: 10px
        border-radius: 10px

        & > img
            background-color: #a6e0ff62
            border-radius: 5px
            padding: 10px
            margin-inline: auto
            width: 20px
            margin-bottom: 30px

        .heading
            text-align: center
            font-weight: bold
            font-size: $fs-600
            margin-bottom: 30px

        .loginLink
            text-decoration: none
            font-weight: bold
            color: $clr-blue

        .submitButton
            margin-top: 30px
            background-color: $clr-blue
            padding: 8px
            border: none
            border-radius: 5px
            color: $clr-white