@import '../../sass/_font-sizes'
    
.questions
    grid-row: 1 / 3
    position: relative
    padding: 20px
    overflow-x: hidden
    margin: 28px

    .heading
        font-size: $fs-600
        font-weight: bold
        margin-bottom: 8px
    
    .resultsAmount
        display: inline