@import '../../sass/_colors'
@import '../../sass/_font-sizes'
@import '../../sass/_breakpoints'
    
.questions
    box-sizing: border-box
    width: 50vw
    margin: 40px
    background-color: $clr-white
    padding: 40px
    min-height: 70vh

    @media screen and (width <= $screen-medium)
        width: 100vw
        margin: 0
        padding: 30px

    .heading
        font-size: $fs-500
        font-weight: bold
        margin-bottom: 20px

        @media screen and (width <= $screen-medium)
            font-size: $fs-400
    
    .resultsAmount
        margin: 16px 0
        display: block
        
    .page
        display: flex
        margin-top: 20px

        & > li
            display: flex
            justify-content: center
            align-items: center
            color: $clr-blue
            border-radius: 10px
            width: 30px 
            height: 30px
            margin: 10px 0
            margin-right: 20px 
            box-shadow: 0px 10px 23px 0px #c6e0ff
            text-align: center
            vertical-align: middle
            padding: 5px
            cursor: pointer

        & > li:hover
            animation: listHover .3s linear forwards

    @keyframes listHover
        from
            transform: translateY(0)

        to
            transform: translateY(-10px)