@import '../../sass/_colors'
@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'

.questionLink
    text-decoration: none
    color: $clr-dark

    .questionBox
        background-color: $clr-white
        box-shadow: 0 2px 5px -2px gray
        border-radius: 10px
        margin-top: 18px
        padding: 24px 28px

        *
            margin: 5px 0

        .question

            .title
                display: inline
                font-weight: bold
                font-size: $fs-400

            .tags
                margin-top: 18px

                span
                    background-color: #ded7ff
                    padding: 3px 5px
                    border-radius: 5px
        
        .askedDate
            display: inline
            
            img
                width: 18px

            span
                margin-left: 5px
                color: $clr-gloomy
                font-size: $fs-200

        .answersAmount
            display: inline
            margin-left: 20px

            img
                width: 18px

            span
                margin-left: 5px
                color: $clr-gloomy
                font-size: $fs-200

        .author
            display: inline
            

            .avatar
                width: 26px

            .name
                font-size: $fs-200
        
        .answersAmount
            color: $clr-gloomy
            font-size: $fs-200