@import '../../sass/_colors'
@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'

.questionLink
    text-decoration: none
    color: $clr-dark

    .questionBox
        background-color: $clr-white
        border-radius: 14px
        box-shadow: 0 2px 5px -2px gray
        min-height: 120px
        margin-top: 28px
        padding: 16px 24px
        text-decoration: none

        *
            margin: 5px 0

        .text
            line-height: $lh-28

        .author
            display: flex
            align-items: center

            .avatar
                height: 40px

            .author
                font-size: $fs-400
                font-weight: bold
        
        .answersAmount
            color: $clr-gloomy
