@import '../../sass/_colors'
@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'

.questionLink
    text-decoration: none
    color: $clr-dark

    .questionBox
        background-color: $clr-white
        box-shadow: 0 2px 5px -2px gray
        margin-top: 18px
        padding: 16px 24px

        *
            margin: 5px 0

        .question

            .title
                display: inline
                font-weight: bold
                font-size: $fs-400
                
            .tags
                margin-top: 18px

                span
                    background-color: #ded7ff
                    padding: 3px 5px
                    border-radius: 5px

        .author
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 5px

            .avatar
                height: 26px

            .name
                font-size: $fs-200
        
        .answersAmount
            display: block
            text-align: right
            color: $clr-gloomy
            font-size: $fs-200