.footer 
    display: flex
    flex-direction: column
    background-color: #363636
    color: white
    padding: 20px

.follow-us 
    font-size: 24px

.follow-us + span 
    align-self: center

.media-logo 
    height: 30px