@import '../../sass/_colors'
    
.footer 
    display: flex
    flex-direction: column
    min-height: 10vh
    background-color: $clr-dark
    align-items: center
    color: white
    padding: 20px

    .media
        margin: auto 

    .mediaLogo
        margin: 0 20px
        height: 20px

    .credits
        color: $clr-gloomy