@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'
@import '../../sass/_breakpoints'
@import '../../sass/_colors'
    
.header
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    min-height: 100vh
    background-image: url(./../../images/header-background.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    row-gap: 20px

    .links
        margin-top: 40px

        *
            margin: 16px
            text-decoration: none

        .joinButton
            background: rgb(0,40,195)
            background: linear-gradient(0deg, #002fff 0%, #00aeff 100%)
            border-bottom: 4px solid #003a91
            box-shadow: 0 3px 14px -2px #0011ff
            padding: 14px 18px
            border-radius: 12px
            color: $clr-white

        .browseQuestionsButton 
            border-radius: 26px
            color: $clr-blue

        @media screen and (max-width: $screen-small)
            margin-top: 25px

            .joinButton, .browseQuestionsButton
                display: block
                margin: 30px 0

    & > .heading
        position: relative
        margin: 18vh 0 20px
        font-size: $fs-800
        font-weight: 800
        width: 40%
        animation: headingShowUp 1.2s

        @media screen and (max-width: $screen-small)
            font-size: $fs-600
            width: 80%
            margin-bottom: 10px

    .subheading
        position: relative
        font-size: $fs-500
        font-weight: 400
        color: $clr-gloomy
        animation: subheadingShowUp 1.2s

        @media screen and (max-width: $screen-small)
            font-size: $fs-400

    .forumImage
        position: relative
        margin-top: 80px
        width: min(80%, 1000px)
        border-radius: 16px
        box-shadow: 0px 10px 40px -10px #64646493
        animation: screenshotShowUp 1.2s

        @media screen and (max-width: $screen-small)
            margin-top: 50px
            
    .sponsors
        position: relative

        & > span
            width: fit-content
            color: blue
            background-color: #eceeff
            padding: 8px 10px
            font-size: $fs-200
            margin-bottom: 20px
            border-radius: 20px

        & > h3
            font-weight: bold
            font-size: $fs-600

        img
            filter: grayscale(1)
            margin: 60px
            width: 100px

            &:hover
                filter: grayscale(0)

    @keyframes headingShowUp
        0%
            top: 30px
            color: transparent
            
        100%
            top: 0

    @keyframes subheadingShowUp
        0%
            top: 50px
            color: transparent
            
        100%
            top: 0

    @keyframes screenshotShowUp
        0%
            top: 70px
            
        100%
            top: 0