@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'
@import '../../sass/_breakpoints'
@import '../../sass/_colors'
    
.header
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    min-height: 140vh
    background-image: url(./../../images/header-background.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    row-gap: 20px

    .heading
        margin: 18vh 0 20px
        font-size: $fs-800
        font-weight: 800

        @media screen and (max-width: $screen-small)
            font-size: $fs-600

    .subheading
        font-size: $fs-500
        font-weight: 400
        color: $clr-gloomy

        @media screen and (max-width: $screen-small)
            font-size: $fs-400

    .links
        margin-top: 40px

        *
            margin: 16px
            text-decoration: none

        .joinButton
            background: $clr-blue
            padding: 14px 18px
            border-radius: 26px
            color: $clr-white

        .browseQuestionsButton
            border-radius: 26px
            color: $clr-blue

    // .codeSection 
    //     background-color: #4e4e4e
    //     margin-top: 60px
    //     padding: 30px
    //     line-height: 30px
    //     color: white
    //     font-size: $fs-400
    //     text-align: left
    //     min-width: fit-content
    //     width: min(50vw, 600px)
    //     border-radius: 20px

    //     @media screen and (max-width: $screen-small)
    //         font-size: $fs-300
        
    .forumImage
        margin-top: 80px
        width: min(70%, 1000px)
        border-radius: 16px
        box-shadow: 0px 10px 55px -25px rgba(99,99,255,1)

.features 
    display: flex
    margin: 5vh
    gap: 20px
    width: min(90%, 1000px)

    @media screen and (max-width: $screen-small)
        flex-direction: column
        width: 60%

    .featCard 
        text-align: center
        background-color: white
        border-radius: 7px
        margin: 0 10px
        box-shadow: 0 2px 6px -3px #4e4e4e
        padding: 20px
        flex: 1
       
        *
            margin: 10px 0
            line-height: $lh-28

        .heading 
            font-size: x-large
            font-weight: bold

            @media screen and (max-width: $screen-small)
                font-size: $fs-400
        
        img 
            margin: 20px auto
            height: 120px
            display: block

            @media screen and (max-width: $screen-small)
                height: 100px