@import '../../sass/_colors'
@import '../../sass/_font-sizes'
@import '../../sass/_line-heights'
@import '../../sass/_breakpoints'
@import '../../sass/mixins'
    
.container
    @include container
    min-height: 100vh

    .content
        box-sizing: border-box
        display: flex
        max-width: 1200px

        .userlist
            margin: 40px
            width: 50vw
            background-color: $clr-white
            padding: 40px

            .heading
                font-size: $fs-600
                font-weight: bold
            
            ul
                box-sizing: border-box

                .user
                    img
                        width: 40px
                        margin-right: 10px
                    
                    box-shadow: 0 2px 5px -3px grey 
                    background-color: $clr-white
                    border-radius: 5px
                    padding: 10px